footer
	.footer__wrapper
		.footer--left
			.container
				.footer--left__wrapper
					.container-custom.size-1365px
						.footer--logo
							a(href="").item
								.img
									img.lazyload.blur-up.object-cover(data-src="./assets/img/logo-pi.png", alt="pi group")
								.desc
									p Phát triển dự án
							a(href="").item
								.img
									img.lazyload.blur-up.object-cover(data-src="./assets/img/test.png", alt="gia cu")
								.desc
									p Chủ đầu tư
		.footer--right
			.container-custom.size-1640px
				.footer--right__wrapper
					.site-map.common-custom
						.wrapper
							.title
								h3 SITEMAPS
							ul
								li
									a(href="javascript:;" data-scroll-to="1") Giải thưởng
								li
									a(href="javascript:;" data-scroll-to="2") Thể lệ chương trình
								li
									a(href="javascript:;" data-scroll-to="3") Thông tin dự án
					.contact.common-custom
						.wrapper
							.title
								h3 THÔNG TIN LIÊN HỆ
							ul
								li
									.img
										img(src="./assets/img/location.png", alt="")
									.desc
										a(href="") Nhà mẫu dự án: Thạnh Xuân 13, Phường Thạnh Xuân, Quận 12, HCM
								li
									.img
										img(src="./assets/img/location.png", alt="")
									.desc
										a(href="") Trụ sở: 169 Bạch Đằng, Phường 2, Quận Tân Bình, TP. HCM
								li
									.img
										img(src="./assets/img/mail.png", alt="")
									.desc
										a(href="") marketing@pigroup.com.vn
								li
									.img
										img(src="./assets/img/phone.png", alt="")
									.desc
										a(href="") 0906311919
.footer--bottom
	p Copyright © 2020 by  Picity High Park