section.phieuruttham
	.container
		.container-custom.size-1000px
			.phieuruttham__wrapper
				.phieu--item
					.item--right
						.item__wrapper
							.img-logo
								img(src="./assets/img/phieuruttham/logo-bg.png", alt="")
							.item--logo
								.img
									img(src="./assets/img/phieuruttham/logo.png", alt="")
								.desc
									h1 PIcity Hight Park
									h2 KIỆT TÁC KIẾN TẠO HOÀN MỸ
							.item--form
								.form--line
									p.lcl.lcl-1 Phiếu rút thăm: PHP 0000001
										input(type="text")
									p.lcl.lcl-1 Họ và tên:
										input(type="text")
									p.lcl.lcl-1 CMND/Pasport:
										input(type="text")
									p.lcl.lcl-1 Sản phảm: 
										input(type="text")
									p.lcl.lcl-1 Sàn: 
										input(type="text")
						.item--bottom
							p PHIẾU RÚT THĂM
					.item--left
						.item__wrapper
							.img-logo
								img(src="./assets/img/phieuruttham/logo-bg.png", alt="")
							.item--logo
								.img
									img(src="./assets/img/phieuruttham/logo.png", alt="")
								.desc
									h1 PIcity Hight Park
									h2 KIỆT TÁC KIẾN TẠO HOÀN MỸ
							.item--form
								.form--line
									p.lcl.lcl-1 Phiếu rút thăm: PHP 0000001
										input(type="text")
									p.lcl.lcl-1 Họ và tên:
										input(type="text")
									p.lcl.lcl-1 CMND/Pasport:
										input(type="text")
									p.lcl.lcl-1 Sản phảm:
										input(type="text")
									p.lcl.lcl-1 Sàn:
										input(type="text")
						.item--bottom
							p PHÀN KHÁCH HÀNG GIỮ LẠI
				.phieu--detail
					img.object-cover(src="./assets/img/phieuruttham/detail.png", alt="")