extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

//- block loading
//- 	include _templates/_layout/_loading
block banner,breadcrumb
block main
	include _templates/index/i-1
	.fp-container
		.fp-wrapper
			.fp-slide 1
			.fp-slide 2
			.fp-slide 
				p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque aspernatur nesciunt fugit. Accusantium eveniet odit perferendis sunt reiciendis illo facilis quidem sed ullam. At dolores repellendus ipsum placeat veniam officia.
			.fp-slide 4
			.fp-slide 5
		.fp-navigations
			.fp-prev
			.fp-next
block scripts
