section.prize(data-scroll-id="1")
	.container
		.container-custom.size-1365px
			.prize__wrapper
				.main-title-img.text-center
					img.object-cover(src="./assets/img/prize.png", alt="prize")
				.prize--rank
					.item--rank.text-center
						.rank
							p GIẢI NHẤT
						.rank-detail
							.img
								img.object-cover.fullsize(src=`./assets/img/rank-1.png`, alt="")
							.desc
								.desc-title
									p Trị Giá
								.line
									img.object-cover(src="./assets/img/line.png", alt="")
								.price
									img.svg(src="./assets/img/price.svg", alt="")
					.item--rank.text-center
						.rank
							p GIẢI NHÌ
						.rank-detail
							.img
								img.object-cover.fullsize(src=`./assets/img/rank-2.png`, alt="")
							.desc
								.desc-title
									p Trị Giá
								.line
									img.object-cover(src="./assets/img/line.png", alt="")
								.price
									img.svg(src="./assets/img/200k.svg", alt="")
					.item--rank.text-center
						.rank
							p GIẢI BA
						.rank-detail
							.img
								img.object-cover.fullsize(src=`./assets/img/rank-3.png`, alt="")
							.desc
								.desc-title
									p Trị Giá
								.line
									img.object-cover(src="./assets/img/line.png", alt="")
								.price
									img.svg(src="./assets/img/100k.svg", alt="")