section.program-rule(data-scroll-id="2")
	.programe-rule__wrapper
		.main--title--img.text-center 
			img(src="./assets/img/programe-rule.png", alt="title")
		.programe-rule--inner
			.programe-rule__left
				.container
					.container-custom.size-1365px
						.programe-rule__left__wrapper
							.wrapper
								.title
									h3 Đối tượng
								ul.sub-title
									li Khách hàng đã đăng ký giữ chỗ dự án căn hộ resort "Picity High Park" 
							.wrapper
								.title
									h3 Hình thức
								ul.sub-title
									li Khách hàng phải trả lời 5 câu hỏi về dự án căn hộ resort "Picity High Park"
							.wrapper
								.title
									h3 Điều kiện nhận giải
								ul.sub-title
									li Khách hàng phải trả lời đúng 5 câu hỏi về dự án căn hộ resort "Picity High Park“
									li Khách hàng phải hoàn tất thanh toán theo Phiếu Đăng Ký thông tin Khách hàng và sản phẩm (Phiếu ĐKTT) trong ngày mở bán và hoàn tất thanh toán kỳ đầu tiên (đợt 1) của Văn Bản Thỏa Thuận theo quy định của Pi Home.
									li Mỗi sản phẩm chuyển cọc thành công sẽ nhận được 1 phiếu rút thăm may mắn.
									li Mỗi phiếu sẽ có 2 liên:
										ul
											li Liên 1: Khách giữ để đối chiếu
											li Liên 2: Được bỏ vào thùng phiếu bốc thăm trúng thưởng
									li Phiếu rút thăm may mắn sẽ được tính theo kết quả rút thăm trong ngày mở bán
							.rule--view
								a(data-fancybox data-src="#program-rule" href="javascript:;").playgame__wrapper
									.btn.btn-playgame 
										p XEM THỂ LỆ ĐẦY ĐỦ
			.block-out-container
				.program-rule--swiper.swiper-custom-common
					.swiper-container
						.swiper-wrapper
							-for(var i=0; i < 2; i++)
								.swiper-slide
									.img
										img.object-cover.fullsize(src=`./assets/img/item-1.png`, alt="images")