section.summary(data-scroll-id="3")
	.summary__wrapper
		.summary__left
			.container
				.container-custom.size-1365px
					.summary__left__wrapper
						.main-title.text-center
							.img
								img.lazyload.blur-up(data-src="./assets/img/summary.png", alt="summary")
						.summary__left--inner
							.wrapper
								.item
									p
										!= "<span>Chủ Đầu Tư: </span>Công ty TNHH MTV Đầu Tư Phát Triển Gia Cư"
								.item
									p
										!= "<span>Thiết Kế Cảnh Quan: </span>Belt Collins International - Hong Kong"
								.item
									p
										!= "<span>Thiết kế kiến trúc: </span>Humphreys and Partners Architects - Mỹ."
								.item
									p
										!= "<span>Thi công xây dựng: </span>Unicons - thành viên Coteccons Group và Tập đoàn xây dựng Hòa Bình"
								.item
									p
										!= "<span>Số tầng: </span> 18 tầng (451 căn)"
								.item
									p
										!= "<span>Phát triển dự án: </span>Tập đoàn Pi Group"
						.brochure-btn.text-center.custom-btn
							a(href="./assets/pdf/pdf.pdf" , target="_blank").playgame__wrapper
								.btn.btn-playgame XEM BROCHURE PARK 1
						.info-project.text-center.custom-btn
							a(href="https://picityhighpark.vn/" , target="_blank").playgame__wrapper
								.btn.btn-playgame XEM THÔNG TIN DỰ ÁN
		.summary__right.swiper-custom-common
			.swiper-container
				.swiper-wrapper
					-for(var i=0; i < 10; i++)
						.swiper-slide
							.img
								img.object-cover.fullsize(src=`./assets/img/item-${i + 1}.jpg`, alt="images")
	.summary__wrapper--bottom
		.container
			.container-custom.size-1365px
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.item
								.img
									img.lazyload.blur-up.svg(data-src="./assets/img/river.svg", alt="river")
								.desc
									p Nằm cạnh
									p sông Vàm Thuật
						.swiper-slide
							.item
								.img
									img.lazyload.blur-up.svg(data-src="./assets/img/smart-home.svg", alt="smart home")
								.desc
									p Căn hộ smart-home thuận tiện an toàn
						.swiper-slide
							.item
								.img
									img.lazyload.blur-up.svg(data-src="./assets/img/hotel.svg", alt="river")
								.desc
									p Sảnh đón đẳng cấp 5* phong cách Indochine 
						.swiper-slide
							.item
								.img
									img.lazyload.blur-up.svg(data-src="./assets/img/house.svg", alt="river")
								.desc
									p
										!= "Thiết kế theo </br> phong cách Indochine"
						.swiper-slide
							.item
								.img
									img.lazyload.blur-up.svg(data-src="./assets/img/locker.svg", alt="river")
								.desc
									p Bàn giao
									p trọn vẹn nội thất WC