section.customer-list
	.demo
	.container
		.container-custom.size-1365px
			.customer-list__wrapper
				.customer-list__wrapper--inner
					.main-title-img.text-center
						img(src="./assets/img/customer.png", alt="customer")
					.wrapper
						.player--table
							.table--title
								.column-1
									p STT
								.column-2
									p Họ Và Tên
								.column-3
									p CMND
							.list-player
								-for(var i =0; i <6 ; i++)
									.column-1
										p 01
									.column-2
										p Nguyễn Văn A
									.column-3
										p *********325
						ul.pagination
							li.pagination-prev
								a( data-url="something" href="#" )
							li
								a( data-url="something" href="#") 1
							li.active
								a( data-url="something" href="#") 2
							li
								a( data-url="something" href="#") 3
							li.pagination-dot
								a( data-url="something" href="#") ...
							li
								a( data-url="something" href="#") 13
							li
								a( data-url="something" href="#") 14
							li
								a( data-url="something" href="#") 15
							li.pagination-next
								a( data-url="something" href="#")