.pop-up(hidden)
	#program-rule
		.container
			.container-custom.size-1365px
				.popup__wrapper
	#quiz-answer
		.container
			.container-custom.size-1365px
				.popup__wrapper
					.main-title-img.text-center
						img(src="./assets/img/quiz-title.png", alt="")
					.quiz-content
						.item
							.question
								.question-item
									p Câu Hỏi 1:
								.question-item-desc
									p
										!= "Với quy mô 8.6 ha, dự án Picity High Park có mật độ xây dựng là bao nhiêu?"
							.answer
								.answer--item
									.wrapper
										input(istrue= "false" type="radio" name="cau1" id="cau1-1")
										label(for="cau1-1") 70%
								.answer--item
									.wrapper
										input(istrue="false" type="radio" name="cau1" id="cau1-2")
										label(for="cau1-2") 55%
								.answer--item
									.wrapper
										input(istrue="true" type="radio" name="cau1" id="cau1-3")
										label(for="cau1-3") 23%
						.item
							.question
								.question-item
									p Câu Hỏi 2:
								.question-item-desc
									p
										!= "Giá dự kiến trong đợt mở bán kỳ 04 là:"
							.answer
								.answer--item
									.wrapper
										input(istrue= "true" type="radio" name="cau2" id="cau2-1")
										label(for="cau2-1") Từ 45 triệu/m2
								.answer--item
									.wrapper
										input(istrue="false" type="radio" name="cau2" id="cau2-2")
										label(for="cau2-2") Từ 48 triệu/m2
								.answer--item
									.wrapper
										input(istrue="false" type="radio" name="cau2" id="cau2-3")
										label(for="cau2-3") Từ 52 triệu/m2
						.item
							.question
								.question-item
									p Câu Hỏi 3:
								.question-item-desc
									p
										!= "Mật độ cây xanh và tiện ích tại dự án Picity High Park chiếm bao nhiêu %?"
							.answer
								.answer--item
									.wrapper
										input(istrue= "true" type="radio" name="cau3" id="cau3-1")
										label(for="cau3-1") 77%
								.answer--item
									.wrapper
										input(istrue="false" type="radio" name="cau3" id="cau3-2")
										label(for="cau3-2") 67%
								.answer--item
									.wrapper
										input(istrue="false" type="radio" name="cau3" id="cau3-3")
										label(for="cau3-3") 37%
						.item
							.question
								.question-item
									p Câu Hỏi 4:
								.question-item-desc
									p
										!= "Các trường học nào được đầu tư xây dựng tại dự án"
							.answer
								.answer--item
									.wrapper
										input(istrue= "false" type="radio" name="cau4" id="cau4-1")
										label(for="cau4-1") Mầm non
								.answer--item
									.wrapper
										input(istrue="false" type="radio" name="cau4" id="cau4-2")
										label(for="cau4-2") Cấp 1
								.answer--item
									.wrapper
										input(istrue="true" type="radio" name="cau4" id="cau4-3")
										label(for="cau4-3") Cả a & b đều đúng
						.item
							.question
								.question-item
									p Câu Hỏi 5:
								.question-item-desc
									p
										!= "Các điểm nổi bật tại Phân khu Park 1 so với những phân khu đã bán là gì?"
							.answer
								.answer--item
									.wrapper
										input(istrue= "false" type="radio" name="cau5" id="cau5-1")
										label(for="cau5-1") Được trang bị thiết bị smart home, sảnh đón trang trọng phong cách Indochine, bàn giao nội thất toilet,…
								.answer--item
									.wrapper
										input(istrue="false" type="radio" name="cau5" id="cau5-2")
										label(for="cau5-2") Hệ thống camera cảnh báo an ninh trong căn hộ 24/24
								.answer--item
									.wrapper
										input(istrue="true" type="radio" name="cau5" id="cau5-3")
										label(for="cau5-3") Cả a & b đều đúng
						.item
							.answer-btn
								a(href="javascript:;").playgame__wrapper
									.btn.btn-playgame Trả Lời
	#info-customer
		.container
			.container-custom.size-1365px
				.popup__wrapper
					.main-title-img.text-center
						img(src="./assets/img/info-customer.png", alt="")
					.sub-title.text-center
						h2 Bạn đã trả lời đúng - vui lòng điền thông tin
					.table-info-custom
						form(action="")
							.wrapper
								input.g-recaptcha(type="hidden" name="recaptcha" data-sitekey="6Le-tdEZAAAAAHiNLcnunnaYNGYWPK7gwZjC1g9y")
								.item
									.field
										label(for="name") Họ Và Tên:*
									.field-input
										input(type="text" name="name" id="name")
								.item
									.field
										label(for="cmnd") CMND/Passport:*
									.field-input
										input(type="text" name="cmnd" id="cmnd")
								.item
									.field
										label(for="san") Sàn:
									.field-select.custom-select
										select(name="san" id="san")
											option(value="7") Chọn Sàn
											option(value="1") Công Ty Cổ Phần ECOE Việt Nam
											option(value="2") Công Ty TNHH ANYLAND Việt Nam
											option(value="3") Công Ty Cổ Phần Bắt Động Sản PILAND
											option(value="4") Công Ty TNHH Công Nghệ Bất Động Sản REVER
											option(value="5") Công Ty Cổ Phần Đầu Tư Bất Động Sản PITA Việt Nam
											option(value="6") Khác
							.complete
								button(type="submit" data-url="/something")
									a(href="javascript:;" data-fancybox data-src="#congratulation").playgame__wrapper
										.btn.btn-playgame Hoàn Tất
	#congratulation
		.container
			.container-custom.size-1365px
				.popup__wrapper.text-center
					.main-title-img
						img(src="./assets/img/congratulations.png", alt="")
					.sub-title
						p Chúc mừng bạn đã tham gia chương trình "An Khang Sum Vầy" của dự án PiCity High Park. Bạn có cơ hội tham gia rút thăm may mắn tại sự kiện mở bán. Tổng giải thưởng lên đến
					img(src="./assets/img/600 TRIEU.png", alt="")
					p ……………………………………………….
					.toGift
						.wrapper
							p Mã code tham gia dự thưởng
							p.code XXXXXXXXX
					img(src="./assets/img/gift.png", alt="")
	#noti
		p Bạn đã trả lời sai
		p  vui lòng xem gợi ý đáp án và chọn lại
		.hint
			a(data-fancybox-close href="javascript:;").playgame__wrapper
				.btn.btn-playgame Gợi Ý
	#noti-2
		p Vui Lòng Chọn Câu Trả Lời
		.hint
			a(data-fancybox-close href="javascript:;").playgame__wrapper
				.btn.btn-playgame Chọn Lại