@font-face {
	font-family: Lato-Black;
	src: url(../fonts/Lato-Black_2.ttf);
}
@font-face {
	font-family: Lato-Bold;
	src: url(../fonts/Lato-Bold_2.ttf);
}
@font-face {
	font-family: Lato-Hairline;
	src: url(../fonts/Lato-Hairline_2.ttf);
}
@font-face {
	font-family: Lato-Heavy;
	src: url(../fonts/Lato-Heavy_1.ttf);
}
@font-face {
	font-family: Lato-Italic;
	src: url(../fonts/Lato-Italic_1.ttf);
}
@font-face {
	font-family: Lato-Light;
	src: url(../fonts/Lato-Light_3.ttf);
}
@font-face {
	font-family: Lato-Medium;
	src: url(../fonts/Lato-Medium_0.ttf);
}
@font-face {
	font-family: Lato-Regular;
	src: url(../fonts/Lato-Regular_2.ttf);
}
@font-face {
	font-family: Lato-Thin;
	src: url(../fonts/Lato-Thin_0.ttf);
}